*{
    margin:0;
    padding:0;
    font-size: 15px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1.4;
}


.product{
    width: 800px;
    margin: 50px auto;
    border: 5px solid black;
}

.product-title{
    background-color: #f3f3f3;   
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    position: relative;
}

.product-title::before{
    content: "SALE";
    background-color: rgb(245, 42, 42);
    font-size: 14px;
    color: white;
    display: inline-block;
    padding: 5px 12px;
    position: absolute;
    top: -15px;
    left: -30px;
    letter-spacing: 2px;
}


.description{
    margin: 10px 0;
}


.box-container{
    margin: 20px 0;
    margin-top: 40px;
}

.box:first-child{
    background-color: black;
}
.box:nth-child(2){
    background-color: blue;
}

.box:nth-child(3){
    background-color: red;
}

.box:nth-child(4){
    background-color: rgba(233, 233, 18);
}

.box:nth-child(5){
    background-color: lightgreen;
}

.box:last-child{
    background-color: rgb(133, 80, 12);
    margin-right: 0;
}


.box{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}

.details{
    text-transform: uppercase;
    margin: 10px 0;
}



.shipping{
    color: #797878;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding-top: 8px;
    float: right;
}

.price{
    font-weight: bold;
    font-size: 25px;
    float: left;
    
}

.clearfix:after{
    content: "";
    clear: both;
    display: block;
}


.details-list{
    list-style: square;
    margin: 10px 20px;
}

li{
    margin-bottom: 10px;
}

a:link, a:visited{
    color: black;
}
a:hover, a:active{
    text-decoration: none;

}



button{
    background-color: black;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    border-top: 5px solid black;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    clear: both;
}

button:hover{
    background-color: white;
    color: black;  
}


.mid-section{
   height: 250px;
   width: 100%;
}

.product-img{
    width: 250px;
    height: 250px;
    float: left;
}



.inner-container{
    float: left;
    width: 250px;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 20px;
}


