.logo {
  height: 2.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  position: relative;

  /* Because we want to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
}

.main-nav-list li:last-child a {
  color: #fff;
  display: inline-block;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
