.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #333;
}

.step-img {
  width: 35%;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  z-index: -2;

  /* 60% of parent's width */
  padding-bottom: 60%;
  /* elements with higher z-index apears first */
}

.step-img-box::after {
  z-index: -1;
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
