.section-meals {
  padding-bottom: 6.4rem;
}

.meal-img {
  width: 100%;
}

.meal {
  /* LOOK UP ON THE VIDEO */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-title {
  font-size: 2.4em;
  font-weight: 700;
  color: #333;
  text-align: start;
  margin: 1.2rem 0 3rem 0;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-attributes {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  list-style: none;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.meal-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.meal-span {
  color: #555;
  font-size: 1.8rem;
}

.meal-span--number {
  font-weight: 600;
}

.meal-tags {
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;

  padding: 0.4rem 0.8rem;
  border-radius: 1.4rem;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-paleo {
  background-color: #ffe066;
}

.tag-vegan {
  background-color: #a9e34b;
}
/* <--------------- diet list -----------------> */

.diets p {
  text-align: start;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.list-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #e67e22;
}

.list-item span {
  font-size: 1.8rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* <--------------- LINK ----------------------> */
.all-recipes {
  font-size: 1.8rem;
}
