.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials {
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.img-customer {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.customer-opinion {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.customer-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.testimonials-content {
  padding: 9.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.img-gallery {
  display: block;
  transition: all 0.4s;
  width: 100%;
}

.img-gallery:hover {
  transform: scale(1.1);
}
